#stage {
    width: 1400px;
    height: 700px;
    border: 7px solid black;
    margin: auto;
    margin-top: 10px;
    position: relative;
    background-image: url('images/spiderman.png');
    overflow: hidden;
    font-size: 60px;
    z-index: 1;
}

body{
    background-color: black;
}


#labtable{
    position: absolute;
}

.potion{
    z-index: 55;
    position: absolute;
    bottom:10%;
    width: 190px;
}

#potion{
    z-index: 55;
    position: absolute;
    bottom: 10%;
    width: 190px;
}

#beaker {
    z-index: 77;
    position: absolute;
    bottom: 10%;
    width: 190px;
}

#output {
    background-color: black;
    color: white;
    position: absolute;
    bottom:10px;
    padding: 15px;
    width: 97%;
    height: 30px;
    font-size: 20px;
    border:3px solid white;
    text-align: center;
    z-index: 2;
}

#city {
    position: absolute;
    bottom: -170px;
    width: 100%; 
    height: auto;
    z-index: 0;
}



button {
    background-color: black; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px; 
    cursor: pointer;
    position: absolute;
    z-index: 8; 
    bottom: 15px;

}


.center {
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-family: sans-serif;
    font-size: 20px;
    color: black; 
}


#enter {
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 0.3s ease; 
    cursor: pointer; 
}

.input {
    width: 200px; 
    height: 40px; 
    font-size: 20px;
}

label {
    font-size: 30px;
}


#buttonContainer {
    width: 1400px;
    height: 700px;
    position: absolute;
    bottom: 50px;
    top: 50px;
    left: 50px;
    z-index: 1000;
}


#rightBtn{
    right: 500px;

}

#leftBtn{
    left: 500px;
}

#spiderman{
    position: absolute;
    top: 25px;
    left: 600px;
    z-index: 45;
}

#spiderman1{
    position:absolute;
    top:-10px;
    left: 1100px;
    width: 300px;
    height: 540px;
    z-index: 45;
}

#spiderman3{
    position: absolute;
    top:-10px;
    left: 500px;
    z-index: 45;
}

#spiderman4 {
    position: absolute;
    bottom: 60px;
    left: 900px;
}

#greengoblin{
    position: absolute;
    top: 70px;
    left: 44px;
    z-index: 2; 
}

#electro{
    position: absolute;
    top: 70px;
    left: 44px;
    z-index: 44;
}

#greengoblin2{
    position: absolute;
    bottom: 10%;
    left: -500px;
    width: 550px;
    height: auto;
}

#electro{
    position: absolute;
    top:50px;
    left: 70px;
    z-index: 2;
}


#player{
    position: absolute;
    top:665px;
    left: 188px;
    width: 28px;
    height: 28px;
}

#exit{
    height:20px;
    width: 50px;
    background-color: red;
    position: absolute;
    right:165px;
    top:0px;
    opacity: 0;
}

#tunnel{
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.money{
    top: 0px;
    position: absolute;
    width: 25px;
    z-index: 1;
}

#gate{
    height: 45px;
    width: 20px;
    background-color: blue;
    position:absolute;
    bottom: 0px;
    left:149px;
    z-index: 100;
    opacity: 0;  
}

#gate1{
    height: 45px;
    width: 20px;
    background-color: orange;
    position: absolute;
    bottom: 0px;
    left: 230px;
    opacity: 0;
    z-index: 101;
}

#gate2{
    height:1px;
    width:67px;
    background-color: pink;
    position: absolute;
    bottom: 0px;
    left:170px;
    opacity: 0;
    z-index: 104;
}

#webimage{
    display: none;
    position: absolute;
    z-index: 3;
    top: 70px;
    left: 44px;
}


#game-container {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.brick {
    width: 100px;
    height: 50px;
    background: url('images/brick.jpg') no-repeat center center;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 66;
    border: 4px solid black; 
}


.brick.fall {
    transform: translateY(100vh);
}

.key {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 50px; 
    height: auto; 
    z-index: 9999; 
}

.shelf {
    position: absolute;
    bottom:100px;
    left:10px;
    width: 20%;
    height:auto;
    z-index: 9999;
}

.chest{
    position: absolute;
    bottom: 100px;
    right: 240px;
    width: 20%;
    height: auto;
    z-index: 9999;
}


